.main
  .main_header
    .main_header__group_box
      .main_header__group_box--name 
        =@group.name
      %ul.main_header__group_box--member 
        Member： 
        %li.main_header__group_box--member__list
          - @group.users.each do |user|
            =user.name
    = link_to edit_group_path(@group), class: "edit" do 
      Edit
  .main_chat
    = render @messages
  .main_form 
    = form_with model: [@group, @message], html: {class: "form_box"}, local: true do |f|
      .form_box__text
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('far', 'image', class: 'image')
          = f.file_field :image, class: 'none'   
      = f.submit 'Send', class: 'send'
          
      

  
